NEXT_PUBLIC_DATA_WATCH_API_URL=https://dev-datawatch-be.kedata.cloud
NEXT_PUBLIC_API_URL=https://dev-datawatch-be.kedata.cloud
NEXT_PUBLIC_ALLOWED_EXTENTION=csv,xlsx,xls
NEXT_PUBLIC_BASE_URL=https://dev-datawatch-fe.kedata.cloud
# Hotjar (optional)
NEXT_PUBLIC_HJID=
NEXT_PUBLIC_HJSV=
