@tailwind base;
@tailwind components;
@tailwind utilities;

@import './vendors/react-table.css';
@import './vendors/react-select.css';
@import './vendors/kedata-loading.css';

@layer base {
  html {
    @apply scroll-smooth;
    --thumb-bg-color: #e2e8f0;
  }

  body {
    @apply text-c-neutral-900;
  }
}

@layer components {
  .product-features > div:nth-child(1),
  .product-features > div:nth-child(2),
  .product-features > div:nth-child(4),
  .product-features > div:nth-child(5) {
    @apply border-r-transparent md:border-r md:border-r-[#DFE2E6];
  }
  .product-features > div:nth-child(1),
  .product-features > div:nth-child(2),
  .product-features > div:nth-child(3) {
    @apply border-b border-b-[#DFE2E6];
  }
  .product-features > div:nth-child(4),
  .product-features > div:nth-child(5) {
    @apply border-b border-b-[#DFE2E6] md:border-b-transparent;
  }
  .pagination .disabled {
    @apply !text-c-gray-300;
  }
  .pagination .previous,
  .pagination .next {
    @apply text-lg font-bold text-c-gray-600;
  }
  .pagination .selected {
    @apply border-c-red-600 bg-c-red-600 text-white;
  }
}

@layer utilities {
  .skew-right-top {
    clip-path: polygon(
      /* left top */ 0 5%,
      /* right top */ 100% 0,
      /* right bottom */ 100% 100%,
      /* left bottom */ 0 100%
    );
  }
  .skew-left-top-right-bottom {
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  }
  .skew-right-bottom {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  }
  .skew-right {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
  }
}

.swiper-pagination .swiper-pagination-bullet {
  @apply bg-c-red-600;
}
.collapse > input[type='radio'] {
  width: 100%;
}

#article h2 {
  @apply font-archivo text-3xl font-bold;
}
#article ul {
  @apply ml-5 list-disc;
}
